article p:last-of-type {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(166, 166, 166, 0.6);
    padding-bottom: 1.5em;
}

article:last-of-type p:last-of-type {
    border-bottom-style: unset;
}

h2 {
    margin-bottom: 0;
}

.publish-date {
    font-style: italic;
    font-size: 1em;
}

p.publish-date {
    margin-bottom: 0;
}

/* p.publish-date + p {
    margin-top: 10px;
} */