body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    margin: 0;
    padding: 0;    
}

.container {
    margin: 0 8px;
}

header {
    text-align: center;
    padding: .5em 0;
}

nav {
    width: 100%;
    background-color: whitesmoke;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
    padding: 0;
}

nav > ul > li {
    padding-top: .25em;
    padding-bottom: .25em;
    border: .5px solid #222;
    border-bottom-style: none;
}

nav > ul > li:last-of-type {
    border-bottom-style: solid;
}

nav > ul > li > a {
    text-decoration: none;
    display: block;
}

h2 {
    margin-top: 16px;
    margin-bottom: 10px;
}

p:first-of-type {
    margin-top: 0;
}

a {
    color: #1EAEDB; 
}

a:hover {
    color: #0FA0CE;
}

/* Media Queries */

@media (min-width: 569px) {
    
    nav {
        height: 100%;
        width: 30%;
        margin-right: 0;
        position: fixed;
        /* background-color: whitesmoke; */
    }

    header {
        margin-top: 100%;
    }

    nav > ul > li {
        /* border-color: #1EAEDB; */
        /* border-width: .5px; */
    }

    .container {
        margin-left: 30%;
        padding-left: 1em;
        padding-right: 1em;
    }
    
    h2:first-of-type {
        margin-top: 0;
    }
}