body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    margin: 0;
    padding: 0;    
}

.container {
    margin: 0 8px;
}

header {
    text-align: center;
    padding: .5em 0;
}

header a {
    text-decoration: none;
    display: block;
    color: #222;
}

header a:hover {
    color: #222;
}

nav {
    width: 100%;
    background-color: #A6A6A6;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
    padding: 0;
}

nav > ul > li {
    padding-top: .25em;
    padding-bottom: .25em;
    border: .25px solid #646464;
    border-bottom-style: none;
}

nav > ul > li:last-of-type {
    border-bottom-style: solid;
}

nav > ul > li > a {
    text-decoration: none;
    display: block;
    color: #FFF;
}

h2 {
    margin-top: 16px;
    margin-bottom: 10px;
}

p:first-of-type {
    margin-top: 0;
}

a {
    color: #1EAEDB; 
}

a:hover {
    color: #0FA0CE;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Media Queries */

@media (min-width: 569px) {
    
    body {
        font-size: 1.25em;
    }

    header {
        padding-left: 2em;
        padding-top: 10px;
        padding-bottom: 0;
        float: left;
        height: 100%;

    }

    nav {
        height: 55px;
        width: 100%;
        /* width: 30%; */
        margin-right: 0;
        position: fixed;
        /* background-color: whitesmoke; */        
    }

    nav > ul {
        float: right;
        padding-right: 2em;
        height: 100%;
        /* padding-top: 10px; */
        /* padding-bottom: 10px; */
    }
    
    nav > ul > li {
        float: left;
        /* border-bottom-style: solid; */
        border: 0;
        height: 100%;
        padding: 0;
        /* padding-top: 10px; */
        padding-bottom: 0;
        /* margin-right: 20px; */
    }

    nav > ul > li > a {
        padding: 10px 1em;
    }

    /* nav > ul > li:last-of-type {
        margin-right: 0;
    } */

    .container {
        /* margin-left: 30%; */
        padding-top: 65px;
        padding-left: 3em;
        padding-right: 3em;
    }
    
    h2:first-of-type {
        margin-top: 0;
    }
}

@media (min-width: 1023px) and (orientation: landscape){
    header {
        padding-left: 6em;
    }

    nav > ul {
        padding-right: 6em;
    }

    .container {        
        padding-left: 8em;
        padding-right: 8em;
    }
}

@media (min-width: 1279px) {
    header {
        padding-left: 10em;
    }

    nav > ul {
        padding-right: 10em;
    }
    .container {        
        padding-left: 12em;
        padding-right: 12em;
    }
}

@media (min-width: 1919px) {
    header {
        padding-left: 18em;
    }

    nav > ul {
        padding-right: 18em;
    }
    .container {        
        padding-left: 20em;
        padding-right: 20em;
    }
}